/* Lock the viewport so the page doesn't scroll */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Prevent the page from scrolling */
    font-family: Arial, sans-serif;
    background-color: #333;
}

.App {
    position: relative;
    height: 100vh;
    /* Fix the height to the viewport */
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.fade-out {
    opacity: 0;
}

.centered-name {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: white;
}

h2{
    color: white;
}

.menu {
    position: fixed;
    top: 20;
    left: 24%;
    width: 50%;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.menu.show {
    opacity: 1;
}

/* .submenu{ 
    position: fixed;
    display: flex;
    width: 100%;
    margin-top: 400;
    background-color: aqua;
    margin-top: 300px;
justify-items: center;
} */
.submenu a {
    font-size: 1.5rem;
    margin-right: 30px;
    margin-left: 30px;
    color: #333;
    text-decoration: none;
    opacity: 1;
    text-align: center;
}

.submenu .hide {
    opacity: 0;
}

.submenu a:hover {
    color: #007BFF;
}

.social-icons {
    position: fixed;
    top: 93%;
    left: 40%;
    opacity: 1;
}

.social-icons .hide {
    opacity: 0;
}

.social-icons a {
    margin-right: 15px;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007BFF;
}