/* Lock the viewport so the page doesn't scroll */

@font-face {
    font-family: 'MyFont';
    src: url('./assets/fonts/AcPlus_HP_150_re.ttf') format('truetype');
}
@font-face {
    font-family: 'MyFont1';
    src: url('./assets/fonts/Ac437_ToshibaTxL2_8x16.ttf') format('truetype');
}

body,
html {
    display: flex;
    justify-content: end;
    align-items: center;
    height: auto;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.centered-name {
    margin-top: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10;
    width: 100%;
    height: 50%;
    flex-direction: column;
    transform: translate(0%, 0%);
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    background-color: #00ff15;
}

h1 {
    font-size: 5rem;
    margin: 0;
    color: white;
    /* position: fixed; */
}

h2{
    font-size: 1.5rem;
    color: white;
}

.menu .hide{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.menu  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    margin-top: 20;
}

.submenu a {
    font-size: 1.5rem;
    margin-right: 30px;
    margin-left: 30px;
    color: #333;
    text-decoration: none;
    opacity: 1;
    text-align: center;
}

.submenu{
    opacity: 1;
}

.submenu .hide {
    opacity: 0;
}

.submenu a:hover {
    color: #007BFF;
}

.social-icons {
    opacity: 1;
    width: 50%;
    display: flex;
    justify-content: space-around;
    transition: opacity 0.5s ease-in-out;
}

.social-icons .hide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.social-icons a {
    margin-right: 15px;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

.social-icons a:hover {
    color: #00ff15;
}

